.assetsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: var(--main-colorDark);
}

.assetContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 40vh;
}

.assetImg {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.assetText {
    font-size: 1.5rem;
}