.assetsContainer {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--main-colorDark);
}

.assetContainer{
    padding: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.imgContainer {
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: auto;
    cursor: grab;
    overflow: hidden;
}

.item {
    position: relative;
}

.item:hover{
    outline: 2px solid var(--main-colorBlue);
}

.assetImg {
    height: 40vh;
    width: auto;
    object-fit: contain;
    pointer-events: none;
}

.imgIndexContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #1a1a1acc;
    padding: 5px;
}

.imgIndexText {
    font-family: "Lemon Milk";
    font-size: 1rem;
    color: var(--main-colorLight);
}

.textContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.assetText {
    font-family: "Lemon Milk";
    font-size: 1rem;
    color: var(--main-colorLight);
}

hr {
    width: 10%;
}

.refreshButton {
    padding: .25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main-colorDarker);
}

.refreshButton > img {
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    .assetsContainer{
        max-width: 98%;
    }
    .assetImg {
        height: 30vh;
    }
}