.assetsContainer {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--main-colorDark);
}

.assetContainer{
    padding: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 40vh;
    cursor: grab;
    overflow: hidden;
}

.item {
}

.assetImg {
    height: 100%;
    width: auto;
    object-fit: contain;
    pointer-events: none;
}

.textContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.assetText {
    font-family: "Lemon Milk";
    font-size: 1rem;
    color: var(--main-colorLight);
}

.refreshButton {
    padding: .25rem;
    width: 3rem;
    height: 3rem;
}

.refreshButton > img {
    width: 100%;
    height: 100%;
}