main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-colorDark);
  height: 90vh;
  width: 100vw;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.projectSelectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  height: auto;
  width: 80vw;
  max-width: 1500px;
  gap: 3rem;
}

.projectContainer {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.projectContainer:has(.projectImg:hover) {
  cursor: pointer;
  outline: 2px solid var(--main-colorFuchsia);
}

.projectImg {
  width: 100%;
  height: auto;
  object-fit: contain;
} 

.projectLogo {
  display: block;
  width: 25rem;
  height: auto;
  object-fit: contain;
  position: absolute;
  -webkit-animation: moveX 5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}
  
@keyframes moveX {
  from { left: 0; }
  to { left: calc(80vw - 25rem); }
}

@keyframes moveY {
  from { top: 0; }
  to { top: calc(100% - 3.72rem); } 
}

@media (max-width: 1600px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 1000px) {

}