body, .main-content {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--main-colorDarker);
    position: fixed;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    z-index: 9999;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-colorDarker);
    width: 80%;
    height: 6rem;
    gap: 2rem;
}

.infoSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.logo {
    width: auto;
    height: 100%;
    justify-self: flex-end;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
    background-color: var(--main-colorDarker);
    font-family: "Lemon Milk";
    font-size: 1rem;
    color: var(--main-color2);
}

.verticalLine{
    border-left: 1px solid var(--main-color2);
    margin: 0;
    height: 50%;
}

.personalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
    background-color: var(--main-colorDarker);
    font-family: "Lemon Milk";
    font-size: 1rem;
    color: var(--main-color2);
}

.linkSection {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-right: 2rem;
}

.linkRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.linkRow > a {
    color: var(--main-color2);
    font-size: 1.5rem;
}

.linkRow > a:hover {
    color: var(--main-colorFuchsia);
}

.linkIcon {
    height: 4rem;
    width: 4rem;
}

@media (max-width: 1500px) {
    footer {
        padding: 1.5rem;
    }
    .footerContainer {
        height: 4.5rem;
        gap: 1.8rem;
    }
    .infoSection {
        gap: 2.5rem;
    }
    .info{
        gap: 0.8rem;
        font-size: 0.8rem;
    }
    .personalInfo {
        gap: .8rem;
        font-size: 1rem;
    }
    .linkSection {
        gap: 0.8rem;
    }
    .linkRow {
        gap: 0.8rem;
    }
    .linkRow > a {
        font-size: 1.25rem;
    }
  }

  @media (max-width: 1300px) {
    footer {
        padding: 1.5rem;
    }
    .footerContainer {
        width: 90%;
        height: 5rem;
        gap: 1.5rem;
    }
    .infoSection {
        gap: 2rem;
    }
    .info{
        gap: 0.6rem;
        font-size: 0.8rem;
    }
    .personalInfo {
        gap: .6rem;
        font-size: 0.8rem;
    }
    .linkSection {
        gap: 0.6rem;
    }
    .linkRow {
        gap: 0.6rem;
    }
    .linkRow > a {
        font-size: 1.4rem;
    }
  }

  @media (max-width: 1200px) {
    footer {
        padding: 2.5rem;
    }
    .footerContainer {
        width: 95%;
        height: 5rem;
        gap: 1rem;
    }
    .infoSection {
        gap: 1rem;
    }
    .info{
        gap: 0.6rem;
        font-size: 1rem;
    }
    .personalInfo {
        gap: .6rem;
        font-size: 1rem;
    }
    .linkSection {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.4rem;
        margin-right: 5rem;
        
    }
    .linkRow {
        gap: 0.4rem;
    }
    .linkRow > a {
        font-size: 1rem;
    }
  }

  @media (max-width: 800px) {
    footer {
        padding: 1rem;
    }
    .footerContainer {
        width: 100%;
        height: 8rem;
        gap: .6rem;
    }
    .infoSection {
        gap: .8rem;
    }
    .info{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    .logo {
        height: 40%;
    }
    .personalInfo {
        gap: .4rem;
        font-size: 0.8rem;
    }
    .linkSection {
        gap: 0.4rem;
    }
    .linkRow {
        gap: 0.4rem;
    }
    .linkRow > a {
        font-size: .9rem;
    }
  }

  @media (max-width: 500px) {
    footer {
        padding: 1.5rem;
    }
    .footerContainer {
        justify-content: center;
        height: 5rem;
        gap: .5rem;
    }
    .infoSection {
        gap: .4rem;
    }
    .info{
        gap: 0.3rem;
        font-size: 0.5rem;
    }
    .logo {
        height: 20%;
    }
    .personalInfo {
        gap: .3rem;
        font-size: 0.5rem;
    }
    .linkSection {
        gap: .3rem;
        margin-right: 3rem;
    }
    .linkRow {
        gap: .2rem;
    }
    .linkRow > a {
        font-size: .5rem;
    }
  }